<div class="w-full">
    <div class="mt-10 w-1/2 mx-auto flex justify-between gap-2">
        <a href="/reservaciones"
            class="px-2 py-1 rounded bg-green-500 text-white font-semibold duration-200 hover:bg-green-300">Crear
            reservación</a>
        <a href="/tours"
            class="px-2 py-1 rounded bg-blue-500 text-white font-semibold duration-200 hover:bg-blue-300">Crear
            tour</a>
    </div>
</div>